* {
  font-family: sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  max-width: 1024px;
  margin: 0 auto;
  overscroll-behavior: none;
}

/* -------------------
  Hero Styles
------------------- */

.logos {
  margin-top: 24px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-align: center;
  margin: 12px 0;
}

.description {
  text-align: center;
  margin: 12px 0;
  font-size: 18px;
}

/* -------------------
  Quiz Styles
------------------- */

.quiz-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 768px;
  margin: 0 auto;
  padding: 20px;
}

/* -------------------
  Section 1: Draggables
------------------- */
.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(120px, 1fr));
  gap: 4px;
  width: 100%;
  text-align: center;
}

.draggable {
  background: #2d2d2d;
  color: #f8f8f2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 8px;
  cursor: grab;
  font-size: 14px;
  user-select: none;
  flex: 1;
}

/* -------------------
  Section 2: Dropzones
------------------- */
.quiz-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(120px, 1fr));
  gap: 4px;
  width: 100%;
}

.pair {
  /* display: contents; */
  display: flex;
  flex-direction: column;
}

.label,
.dropzone {
  width: 100%;
  box-sizing: border-box;
  font-size: clamp(13px, 2vw, 16px);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
}

.label {
  background: #f0f0f0;
  font-weight: bold;
  border-radius: 6px 0 0 6px;
  text-align: center;
}

.dropzone {
  border: 2px dashed #ccc;
  background: #fff;
  border-radius: 0 6px 6px 0;
}

.dropzone.hovered {
  border-color: #4a90e2;
  background: #e6f0ff;
}

/* -------------------
  Section 3: 
------------------- */
.correct {
  border-color: green !important;
  background-color: #e0ffe0 !important;
}

.incorrect {
  border-color: red !important;
  background-color: #ffe0e0 !important;
}

#checkBtn {
  font-size: 2rem;
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  margin: 10px auto 10px;
  max-width: 90%;
  text-align: center;
}

#score {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}